---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content a.header-link,
.page__content a.anchorjs-link,
.page__content a.direct-link {
  display: none !important;
  visibility: hidden !important;
}