---
layout: default
title: Projects
---
<link rel="stylesheet" href="{{ '/assets/css/projects.css' | relative_url }}">

<div class="projects-container">
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="project-grid">
    {% for project in site.data.projects %}
      <div class="project-card">
        <a href="{{ project.url | relative_url }}">
          <img class="project-image" src="{{ project.image | relative_url }}" alt="{{ project.title }}">
          <div class="project-content">
            <h2 class="project-title">{{ project.title }}</h2>
            <p class="project-description">{{ project.description }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
